<section class="about-section py-5" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading mb-4">ABOUT ME</h2>
                <hr class="border-light my-4 w-50 mx-auto">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 text-center"></div>
            <div class="col-md-4 text-center">
                <i class="fa fa-user fa-2x"></i>
                <p class="mb-0">박 지 민</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-calendar fa-2x"></i>
                <p class="mb-0">1990.09.06</p>
            </div>
            <div class="col-md-2 text-center"></div>
        </div>

        <div class="row text-center mt-4">
            <div class="col-md-2 text-center"></div>
            <div class="col-md-4">
                <i class="fa fa-phone fa-2x"></i>
                <p class="mb-0">010-0000-0000</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope fa-2x"></i>
                <p class="mb-0">jmp1533@gmail.com</p>
            </div>
            <div class="col-md-2 text-center"></div>
        </div>
    </div>
</section>
