<section class="bg-primary text-white py-5" id="about">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h2 class="section-heading mb-4">About Me</h2>
                <hr class="light my-4">
                <p class="text-faded lead">Welcome to my portfolio!</p>
            </div>
        </div>

        <div class="row text-center mt-5">
            <div class="col-md-4">
                <i class="fa fa-user-circle icon-lg"></i>
                <p>John Doe</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-calendar icon-lg"></i>
                <p>1990.09.06</p>
            </div>
        </div>

        <div class="row text-center mt-4">
            <div class="col-md-4">
                <i class="fa fa-phone icon-lg"></i>
                <p>010-0000-0000</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope icon-lg"></i>
                <p>jmp1533@gmail.com</p>
            </div>
        </div>
    </div>
</section>
